page-home {
    #low{
        margin-left:100px;
        margin-top:100px;
   
    //background-color: #e5a3ad;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    //box-shadow: 0 9px #ffb6c1;
}

#lol{

background-color: #79BFC3;
display: inline-block;
font-size: 15px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
border: none;
border-radius: 15px;
margin-left:100px;
box-shadow: 0 6px #9EE3D7;
}

.content{
    background-color: #79C3BA;
}

#flow{
    background-color:#79BFC3;
}

#kool{
    background-color: #9EE3D7
}
#pop{
    background-color: #9EE3D7
}


}